.header {
    /* padding: 16px 0; */
    padding-top: 16px;
    padding-bottom: 16px;
    /* height: 60px; */
    
    /* position: relative; */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 8888;
}
.header__content-telephone--mini{
    display: none;
}
.burger-content__top--mini{
    display: none;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.header__content-left {
    display: flex;
    align-items: center;
    margin: auto 0;
    gap: 30px;
}
.header__content-right {
    display: flex;
    align-items: center;
    margin: auto 0;
    gap: 40px;
}
.header__logo{
    position: absolute;
    left: 50%;
    right: 50%;
    /* transform: translateY(-50%);
    top: 50%; */
    transform: translateX(-50%);
    width: 173px;
    height: 50px;
}
.header__search, .header__search--mini {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 
.header__content-links--mini{
    display: flex;
    gap: 20px;
}
.burger-content__top--mini-links{
    display: flex;
    gap: 80px;
}
.header__search-input {
    order: 1;
    border: none;
    border-bottom: 1px solid #8DB338;
    display: none;
}
.header__search-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__langs, .header__langs--mini {
    display: flex;
    gap: 4px;
}
.header__lang {
    padding: 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #49423D;
}
.header__lang--active {
    color: white;
    background-color: #8DB338;
}
.header__content-links {
    display: flex;
    gap: 30px;
}
.header__content-telephone, .header__content-telephone--footer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.header__content-tell {
    color:#49423D;
font-size: 20px;
text-align: right;
font-weight: 700;
line-height: 26px;
}
.header__content-tellreverse {
    color:  #8DB338;
text-align: right;
font-size: 12px;
font-weight: 500;
line-height: 18px; 
}

.burger-content--active{
    transform: translateY(0) !important;
}
.menu__title span{
    display: none;
}
.burger-content {
    overflow-y: scroll;
    overflow-x: scroll;
        /* display: none !important; */
    transform: translateY(-3000px);
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
   width: 100%;
   /* padding: 0 75px; */
   /* height: 820px; */
   height: 100vh;
   z-index: 99;
}
.burger-content main{
    overflow-y: hidden;
}
.burger-content{
    overflow-y: scroll !important;
}
.menu__link{
    transition: all .3s;
}
.menu__link:hover{
    color: #8DB338;
}
.burger-content__top {
    display: flex;
    justify-content:space-between;
    margin-bottom: 60px;
    margin-top: 67px;
}
.burger-content__top-link {
    max-width: 410px;
    width: 100%;
    min-height: 48px;
    height: 100%;
    background-color: #F5F5F6;
    color:  #909090;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    transition: all .3s;
}
.burger-content__top-link:hover{
    background-color:  #8DB338;
    color: white;
}
.burger-content__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap:  56px 140px;
}
.burger-content__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}
.burger-content__link {
    color: #8DB338;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.menu {
    display: flex;
    flex-direction: column;
}
.menu__title {
    color: #8DB338;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 24px;
}
/* .menu__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
} */
.menu__item {
    padding-bottom: 12px;
}
.menu__link {
    color: #49423D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.header__burger{
    /* display: none; */

    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.header__burger span{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #8DB338;
    top: 50%;
    transform: translateY(-50%);
}
.header__burger::before{
    position: absolute;
    background-color: #8DB338;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
}
.header__burger::after{
    position: absolute;
    background-color: #8DB338;
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
}
.header__burger.header__burger--active span{
    transform: scale(0);
  
}
.header__burger.header__burger--active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);

}
.header__burger.header__burger--active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
} 
.top__wrapper{
    padding-top: 0px;
    position: relative;
}

.top__content-top-items--mini {
    display: none;
}
.tabs-mini{
    display: none;
}

.tabs-mini .tabs__item--active {
    font-weight: 700;
    border-top: none;
}
.tabs-mini .tabs__item--on {
    font-weight: 700;
    border-top: none;
}
 
.tabs-mini .dropdown{
    display: block;
    position: relative;
    border-top: 4px solid #8DB338;
    background-color: #F5F5F6;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs-mini .dropdown-btn{
    display: flex;
    justify-content: center;
    align-items: center;
gap: 8px;
    padding-left: 8px;
    background-color: #F5F5F6;
}

/* .tabs-mini .dropdown-btn::after{
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    background-image: url('../images/icons/select-arr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    right: 130px;
    margin: auto 0;
} */
.dropdown-arr {
    position: absolute;
    right: 20px;
    top: 32px;
    cursor: pointer;
    pointer-events: none;
}
.tabs-mini .dropdown__list{
    top: 35px;
    background-color: #F5F5F6;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 999999999999999999999999999999;
    width: 100%;
}

.tabs-mini .dropdown__list-item {
    color: #575757;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}


.top__content-top-items--mini .dropdown-btn{
    background-color: #8DB338;
    color: white;
    text-align: center;
}
.top__content-top-items--mini .dropdown{
    width: 250px;
    min-height: 50px;
    height: 100%;
    background-color: #8DB338;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top{
    background-image: url('../images/top.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0 40px;
    width: 100%;
    max-width: 100%;
}
.top__title {
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    color: white;
    margin-bottom: 20px;
    max-width: 520px;
}
.top__text {
    color: white;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 133px;
    max-width: 520px;
}
.top__content {
    max-width: 1350px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: white;
    margin-left: -30px;
    margin-right: -30px;
}
.top__content-top {
    display: flex;
    justify-content: space-between;
}
.top__content-top-items {
    display: flex;
    gap: 30px;
}
.top__content-top-item {
    color: #49423D;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background-color: #F5F5F6;
    transition: all .3s;
    padding: 13px 44px;
}
.top__content-top-item:hover {
    background-color: #8DB338;
    color: white;
}
.top__content-top-filter{
    padding-left: 32px;
    position: relative;
    color: #49423D;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin: auto 0;
}
.top__content-top-filter::before {
   width: 20px;
   height: 20px;
   position: absolute;
   content: '';
   left: 0;
    background-image: url('../images/icons/filter-more.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.top__content-top-filter--bottom {
    position: relative;
    color: #49423D;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin: auto 0;
    /* padding-left: 32px; */
}
.top__content-top-filter--bottom::before {
    width: 20px;
    height: 20px;
    position: absolute;
    content: '';
    left: 0px;
     background-image: url('../images/icons/filter-more.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }
 .top__content-top-filter-wrapper{
    position: relative;
 }
.top__content-filters {
    /* display: flex;
    justify-content: space-between;
    gap: 30px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 30px;
}
.top__content-top-filter--bottom{
    display: none;
}
.top__content-filters-item {
    max-width: 190px;
    width: 100%;
    min-height: 40px;
    width: 100%;
}
.top__content-filters-item h6{
    color: #49423D;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 12px;
}

.top__content-filters-btn {
    max-width: 190px;
    width: 100%;
    min-height: 40px;
    height: 100%;
    margin: auto 0;
    background-color: #8DB338;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}

.fliter-line{
    max-width: 300px;
    width: 100%;
}

.types{
    padding-top: 60px;
    margin-bottom: 150px;
}
.types__title {
    color:  #49423D;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}
.types__inner {
    display: flex;
    gap: 30px;
}
.types__item {
    max-width: 234px;
    min-height: 312px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.types__item-1{
    background-image: url('../images/type-1.jpg');
}
.types__item-2{
    background-image: url('../images/type-2.jpg');
}
.types__item-3{
    background-image: url('../images/type-3.jpg');
}
.types__item-4{
    background-image: url('../images/type-4.jpg');
}
.types__item-5{
    background-image: url('../images/type-5.jpg');
}
.types__inner--slider{
    display: none;
}
.types__item-quantity{
    padding: 4px 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8DB338;
    max-width: 60px;
    height: 35px;
    /* font-family: Nunito Sans; */
    font-size: 20px;
    font-weight: 600;
}
.types__item-name{
    color:#49423D;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.technology{
    margin-bottom: 150px;
}
.technology__title {
    color:  #49423D;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 60px;
}
.technology__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
}
.technology__item {
    max-width: 410px;
    min-height: 120px;
    width: 100%;
    height: 100%;
    margin: auto 0;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.technology__item-1 {
    background-image: url('../images/technology-1.png');
}
.technology__item-2 {
    background-image: url('../images/technology-2.png');
}
.technology__item-3 {
    background-image: url('../images/technology-3.png');
}
.technology__item-4 {
    background-image: url('../images/technology-4.png');
}
.technology__item-5 {
    background-image: url('../images/technology-5.png');
}
.technology__item-6 {
    background-image: url('../images/technology-6.png');
}
.technology__item-7 {
    background-image: url('../images/technology-7.png');
}
.technology__item-8 {
    background-image: url('../images/technology-8.png');
}
.technology__item-name {
    color: #49423D;
    font-size: 20px;
    font-weight: 600;
    /* line-height: 28px;  */
}

.links{
    margin-bottom: 150px;
}
.links__title {
    color:  #49423D;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}
.links__inner {
    display: flex;
    gap: 30px;
}
.links__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.links__item-images {
}
.links__item-menu {
    padding: 0 20px 30px;
}
.links__item-title {
    color: #49423D;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
}
.links__item-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.links__item-link {
    color: #49423D;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration-line: underline;
    transition: all .3s;
}
.links__item-link :hover{
    color: #8DB338;
}

.hits {
    margin-bottom: 150px;
    position: relative;
}
.hits__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    height: 50px;
}
.hits__title {
    color:  #49423D;
    font-size: 40px;
    font-weight: 700;
}
.hits__all {
    margin: auto 0;
    color: #8DB338;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.hits__inner {
    display: flex;
    gap: 30px;
    padding-bottom: 40px;
}
.technology__proects-inner{
    display: flex;
    gap: 30px;
    padding-bottom: 40px;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.technology__proects-item--more{
    display: none;
}
.technology__proects-btn{
    margin: 0 auto;
}
.technology__proects-inner--more{
    display: none;
}
.technology-page {
    margin-bottom: 150px;
}
.technology-page__inner {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
.technology-page__text {
    max-width: 590px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.technology-page__text p{
    color:  #49423D;
font-size: 16px;
font-weight: 400;
line-height: 32px;
}
.technology-page__text span{
    color:  #49423D;
font-size: 16px;
font-weight: 600;
line-height: 32px;
}

.technology-page__advantages-inner {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 150px;
}
.technology-page__advantages-item{

    width: 300px !important;
  
}
.technology-page__advantages-item-title {
    color: #49423D;
margin-bottom: 40px;
font-size: 24px;
font-weight: 600;
line-height: 32px;
}
.technology-page__advantages-items {
    display: flex;
    gap: 70px;
}
.hits__item {
    display: flex;
    flex-direction: column;
    gap: 31px;
    border: 2px solid #F5F5F6;
}
.hits__images {
    position: relative;
}
.hits__images:hover .hits__images-compare{
    display: block;
}
.hits__images:hover .hits__images-heart{
    display: block;
}
.hits__images-compare {
    padding: 4px;
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: white;
    display: none;
}
.hits__images-heart {
    display: none;
    padding: 4px;
    top: 12px;
    right: 12px;
    position: absolute;
    background-color: white;
}
.hits__images-img {
    object-fit: cover;
}
.hits__item-content {
    padding: 31px 20px 20px;
}
.hits__item-title {
    color:  #49423D;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
}
.hits__item-characteristics {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}
.hits__item-characteristic {
    color: #909090;
    font-size: 14px;
    font-weight: 400;
}
.hits__item-price {
    color:  #8DB338;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px; 
}
.slick-arr{
    position: absolute;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 8;
}
.slick-arr--prev{
background-image: url('../images/icons/arrow-left.png');
left: -70px;
}
.slick-arr--next{
    background-image: url('../images/icons/arrow-right.png');
    right: -80px;
}
.hits .slick-dots{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    bottom: 0;
    z-index: 9;
    left: 0;
    right: 0;
    padding: 0 20px;
}
.slick-dots li button{
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #F5F5F6;
    /* background-color: #909090; */
    font-size: 0;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: auto 0;
}
.slick-dots li.slick-active button{
    background-color: #8DB338;
}

.advantages {
    /* padding-bottom: 340px; */
    padding-bottom: 460px;
    /* background-image: url('../images/trees-bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
}
.advantages::after{
    position: absolute;
    content: "";
    background-image: url('../images/trees-bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0px;
    /* width: 1792px;
    height: 796px; */
    width: 100%;
    height: 100%;
}

.advantages__title {
    color: #49423D;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 69px;
}
.advantages__inner {
    display: flex;
    gap: 30px;
}
.advantages__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 36px;
}
.advantages__item {
    display: flex;
    gap: 24px;
}
.advantages__item-num {
    max-width: 80px;
    width: 100%;
    height: 80px;
display: flex;
justify-content: center;
align-items: center;
    color: #FFF;
text-align: center;
font-size: 64px;
background-color: #8DB338;
font-weight: 700;
}
.advantages__item-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.advantages__item-name {
    color: #585858;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px; 
}
.advantages__item-text {
    color: #37323E;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.calculation {
    padding: 80px 110px;
    background-color: #8DB338;
}
.calculation__inner{
    display: flex;
    gap: 140px;

    padding-left: 50px;
}
.calculation__form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 410px;
    width: 100%;
    background-color: white;
}

.calculation__form-input, .calculation__form-textarea {
    padding: 9px 16px;
    background-color: #F5F5F6;
    color:  #909090;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border: none;
}
.calculation__form-input--textarea{
    padding-bottom: 80px;
}
.calculation__form-files {
    padding-left: 24px;
    color: #49423D;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    position: relative;
    cursor: pointer;
    display: block;
    text-align: left;
    max-width: 180px;
    width: 100%;
    background-color: transparent;
}
.calculation__form-files::before{
    position: absolute;
    width: 16px;
    height: 16px;
    content: "";
    background-image: url('../images/icons/files.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}
.calculation__form-btn {
    display: flex;
    border: none;
    color: white;
    cursor: pointer;
    max-width: 350px;
    width: 100%;
    min-height: 40px;
    height: 100%;
    justify-content: center;
    background-color: #8DB338;
    align-items: center;
}
.calculation__form-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.calculation__content {
    max-width: 520px;
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.calculation__content-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}
.calculation__content-text {
    color: #F5F5F6;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.about {
    margin-bottom: 150px;
    margin-top: 150px;
}
.about__inner {
    display: flex;
    gap: 70px;
}
.about__content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}
.about__title {
    color: #49423D;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}
.about__text {
    color: #49423D;
font-size: 16px;
font-weight: 400;
line-height: 28px;
padding-bottom: 20px;
}
.about__text:nth-child(3){
    padding-bottom: 0 !important;
}
.about__text span{
    font-weight: 600;
    text-transform: uppercase;
}

.about__more {
    font-weight: 700;
    max-width: 300px;
    width: 100%;
    min-height: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #8DB338;
    margin-top: 40px;
}

.partners {
    margin-bottom: 150px;
}
.partners__inner-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.partners__inner-content {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;

    justify-content: space-around;
}
.partners__item {
    background-color: #F5F5F6;
    padding: 0 20px;
}
.partners__item-title {
color: #49423D;
font-size: 24px;
font-weight: 700;
line-height: 32px;
}
.partners__item-link {
    color: #8DB338;
font-size: 14px;
font-weight: 500;
line-height: 22px;
margin: auto 0;
}
.partners__item-person {
    display: flex;
    gap: 57px;
    display: flex;
    align-items: center;
}
.partners__item-person-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.partners__item-person-name {
    color: #575757;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}
.partners__item-person-position {
    color: #575757;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.partners__item-person-images{
    margin: auto 0;
    padding: 20px 0;
}
.partners__btn {
  margin: 0 auto;
}

.shop {
    margin-bottom: 150px;
}

.shop__title {
}
.title {
}
.shop__inner {
    display: grid;
    /* grid-template-columns:  498px 234px 234px 234px; */
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows:  340px 340px;
    grid-gap: 30px;
}

.shop__item {
    position: relative;
}
.shop__item:first-child{
    grid-column: 1/3;
}
.shop__item:last-child{
    grid-column: 4/6;
}
.shop__item-name {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #49423D;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px; 
}

.blog, .reviews {
    margin-bottom: 150px;
}
.blog__top, .blog__top {
    display: flex;
    justify-content: space-between;
}

.blog__inner, .reviews__inner {
    display: flex;
    gap: 30px;
}
.blog__item {
    min-height:  394px;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 234px;
    width: 100%;
}

.blog__content, .reviews__content {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.blog__content-name, .reviews__content-name {
    color:  #49423D;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; 
}
.blog__content__text, .reviews__content__text {
    color:  #909090;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; 
}

.reviews__texts{
    max-width: 830px;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 100px;
    border-left: 4px solid #8DB338;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reviews__text{
    color: #49423D;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.reviews__item {
    min-height:  474px;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 234px;
    width: 100%;
}
.play{
    position: absolute;
    content: "";
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: none;
    background: none !important;
    z-index: 9;
}
.reviews__images{
    position: relative;
    transition: all .3s;

}
.reviews__images:hover .play {
    display: block;
}
.reviews__images:hover .reviews__images-bg{
    display: block;
}
.reviews__images-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
    left: 0;
    z-index: 1;
    display: none;
}


.questions {
    margin-bottom: 80px;
}
.questions__inner {
    display: flex;
    gap: 110px;
}
.questions__content {
    max-width: 770px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.dropdown-btn__questions {
    min-height: 80px;
    height: 100%;
}
.questions__images-links{
    position: relative;
}
.questions__images-link::after{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: 0 auto;
    background-image: url('../images/icons/play.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 60px;
}
.questions__aside {
    max-width: 410px;
    width: 100%;
}
.questions__aside-title {
    color:  #49423D;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px; 
    letter-spacing: -0.24px;
    margin-bottom: 12px;
}
.questions__aside-text {
    color: #49423D;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 40px;
}
.questions__form {
    background-color: #F5F5F6;
}
.questions__form-input{
    background-color: white;
}
.questions__list{
    /* display: block !important; */
    position:  relative;
}

.footer {
    padding: 80px 0 60px;
    background-color: #1C1C1C;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
}
.footer__item {
    display: block;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}
.footer__item:nth-child(6) {
    width: 240px;
}

.footer__item-logo{
    margin-bottom: 30px;
}
.footer__item-info {
    padding-bottom: 16px;
    color: #F5F5F6;
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-transform: uppercase;
}
.footer__item-title {
    color: #8DB338;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px;
    display: inline-flex;
    gap: 16px;
}
.footer__item-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__item-menu-link {
    color:  #F5F5F6;
font-size: 16px;
font-weight: 400;
line-height: 24px;
transition: all .3s;
}
.footer__item-menu-link:hover {
    color:  #8DB338;

}
.burger-content__link--footer{
    text-align: right;
}
.burger-content__link--footer:nth-child(1) {
margin-bottom: 20px;
}
.burger-content__link--footer:nth-child(2) {
    margin-bottom: 30px;
    }
.header__content-telephone--footer{
    margin-bottom: 30px;
}
.header__content-telephone--footer .header__content-tell{
   color: #F5F5F6
}
.footer__item-mail {
    color: #F5F5F6;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: right;
}
.footer__item-adres {
    color:  #F5F5F6;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    line-height: 22px;
}
.footer__socials {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;
}
.footer-menu__wrapper{
    display: flex;
    gap: 60px;
}
.footer__item-arr{
    display: none;
}
.footer__copy {
    color: #606060;
text-align: center;
font-size: 12px;
font-weight: 400;
line-height: 20px;
}
.footer__copy:nth-child(1) {
margin-bottom: 8px;
}

.login {
    padding: 156px 0;
}
.login__inner {
    display: flex;
    justify-content: space-between;
}
.login__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color:  #F5F5F6;
    padding: 30px;
}
.login__form-wrapper{
    display: flex;
    flex-direction: column;
}
.login__form-position {
    display: flex;
    justify-content: space-between;
}
.login__form-position-link {
    color: #49423D;
font-size: 16px;
line-height: 24px;
padding: 13px 44px;
display: flex;
justify-content: center;
align-items: center;
}
.login__form-position-link--on {
    border-top: 4px solid #8DB338;
    font-weight: 700;
    background-color:  #F5F5F6;
}
.login__form-position-link--off {
    font-weight: 500;
    background-color: white;
}
.login__form-title {
    color: #8DB338;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 12px;
}
.login__form-input {
    padding: 9px 16px 8px;
    background-color: white;
    color: #49423D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}
.login__form-btn {
    color: #FFF;
width: 100%;
background-color: #8DB338;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
border: none;
cursor: pointer;
max-width: 350px;
width: 100%;
min-height: 40px;
height: 100%;
}
.login__form-registration {
    color: #8DB338;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    justify-content: center;
}
.login__form-socials {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.login__content {
    padding: 30px;
    background-color:  #F5F5F6;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 410px;
    width: 100%;
  
    min-height: 270px;
    height: 100%;
}
.login__content-item {
    max-width: 350px;
    width: 100%;
    min-height: 50px;
    background-color: #8DB338;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 9;
}
.login__content-item--1:hover .login__content-info{
    display: block;
    left: -46px;
    top: -173px;
}
.login__content-item--2:hover .login__content-info{
    display: block;
    left: 330px;
}
.login__content-item--3:hover .login__content-info{
    display: block;
    bottom: -173px;
   left: -46px;
}
.login__content-info{
    background-color: #F5F5F6;
    position: absolute;
    padding: 21px 20px 20px 21px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 397px;
    height: 173px;
    display: none;
    z-index: 99;
    border: 2px solid  #F5F5F6;
}
.login__content-info span{
    position: absolute;
    content: "";
    right: 20px;
    bottom: -20px;
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #F5F5F6;
}
.login__content-item--1 span{
    right: 20px;
    bottom: -20px;
}
.login__content-item--2 span{
    top: 60px;
    left: -20px;

    transform: rotate(90deg);
}
.login__content-item--3 span{
    right: 20px;
    top: -20px;
    transform: rotate(180deg);
}
.login__content-link {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; 
    position: relative;
}
/* .login__content-link {
    position: absolute;
    content: "";
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
    right: 20px;
    bottom: 0;
} */
.login__content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 173px;
    max-width: 410px;
    width: 100%;
    padding-bottom: 51px;
}
.login__content-wrapper--pro{
    margin-top: 100px;
}

.registration {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.registration__title {
    color: #8DB338;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.registration__text {
    color: #49423D;
font-size: 20px;
font-weight: 600;
line-height: 28px;
margin-bottom: 40px;
}
.registration__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 410px;
    width: 100%;
    height: 50px;
   margin: 0 auto;
}
.registration__form-input {
    padding: 9px 16px 8px;
    color: #909090;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #F5F5F6;
    border: none;
}
.registration__form-btn {
    max-width: 100%;
}
.product-one{
    margin-bottom: 150px;
}
.product-one__inner {
    margin-top: 16px;
    display: flex;
    gap: 70px;
}
.product-one__content {
    max-width: 810px;
    width: 100%;
}
.product-one__title{
    color: #49423D;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}
.product-one__info {
    max-width: 410px;
    width: 100%;
    padding-top: 50px;
}
.product-one__info-top {
    justify-content: space-between;
    display: flex;
    margin-bottom: 40px;
}
.product-one__info-article {
    color:  #909090;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.product-one__info-links {
    display: flex;
    gap: 30px;
}
.product-one__info-links button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.product-one__info-title {
    color: #49423D;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 30px;
}
.product-one__infobox {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}
.product-one__infobox-item {
    display: flex;
    gap: 8px;
    /* justify-content: space-between; */
}
.product-one__infobox-item-text-right--1{
    padding-left: 87px;
}
.product-one__infobox-item-text-right--2{
    padding-left: 150px;
}
.product-one__infobox-item-text-right--3{
    padding-left: 104px;
}
.product-one__infobox-item-text-right--4{
    padding-left: 21px;
}
.product-one__infobox-item-text-right--5{
    padding-left: 65px;
}
.product-one__infobox-item-text-right--6{
    padding-left: 115px;
}
.product-one__infobox-item-text-right--7{
    padding-left: 40px;
}
.product-one__infobox-item-text-right--8{
    padding-left: 25px;
}

.product-one__infobox-item-text{
    position: relative;
    padding-right: 8px;
}
.product-one__infobox-item-text-1:before{
    content: "….......................";
    position: absolute;
    left: calc(100%);
}
.product-one__infobox-item-text-2:before{
    content: "…..........................................";
    position: absolute;
    left: calc(100%);
}
.product-one__infobox-item-text-3:before{
    content: "…............................";
    position: absolute;
    left: calc(100%);
}
.product-one__infobox-item-text-4:before{
    content: "…....";
    position: absolute;
    left: calc(100%);
}
.product-one__infobox-item-text-5:before{
    content: "…................";
    position: absolute;
    left: calc(100%);
}
.product-one__infobox-item-text-6:before{
    content: "…...............................";
    position: absolute;
    left: calc(100%);
}
.product-one__infobox-item-text-7:before{
    content: "….........";
    position: absolute;
    left: calc(100%);
}
.product-one__infobox-item-text-8:before{
    content: "…....";
    position: absolute;
    left: calc(100%);
}

.product-one__information-text{
    position: relative;
    padding-right: 8px;
}
.product-one__information-text-1:before{
    content: "…...................................................................";
    position: absolute;
    left: calc(100%);
}
.product-one__information-text-2:before{
    content: "….................................................";
    position: absolute;
    left: calc(100%);
}
.product-one__information-text-3:before{
    content: "…..........................................................";
    position: absolute;
    left: calc(100%);
}
.product-one__information-text-4:before{
    content: "….....................................................................";
    position: absolute;
    left: calc(100%);
}
.product-one__information-text-5:before{
    content: "…......................................................";
    position: absolute;
    left: calc(100%);
}
.product-one__information-text-6:before{
    content: "…...................................................................";
    position: absolute;
    left: calc(100%);
}

.product-one__information-text-right--1{
    padding-left: 235px;
}
.product-one__information-text-right--2{
    padding-left: 174px;
}
.product-one__information-text-right--3{
    padding-left: 204px;
}
.product-one__information-text-right--4{
    padding-left: 240px;
}
.product-one__information-text-right--5{
    padding-left: 190px;
}
.product-one__information-text-right--6{
    padding-left: 233px;
}


.product-one__infobox-item p{
    color:  #909090;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.product-one__price {
    color:  #8DB338;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px; 
    margin-bottom: 40px;
}
.product-one__btn {
    height: 50px;
    max-width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.product-one__slide-big{
    padding: 20px;
    background-color: #F5F5F6;
    margin-bottom: 40px;
}
.product-one__slide-thumb{
    padding: 0px 75px 0;
    display: flex;
    gap: 30px;
    position: relative;
}

.product-one__slide-big--2{
    padding: 20px;
    background-color: #F5F5F6;
    margin-bottom: 40px;
}
.product-one__slide-thumb--2{
    padding: 0px 75px 0;
    display: flex;
    gap: 30px;
    position: relative;
}


.product-one__slide-big--3{
    padding: 20px;
    background-color: #F5F5F6;
    margin-bottom: 40px;
}
.product-one__slide-thumb--3{
    padding: 0px 75px 0;
    display: flex;
    gap: 30px;
    position: relative;
}




.slick-arr--right{
    border: none;
    background-color: transparent;
    top: 50%;
    right: 0;
    cursor: pointer;
    transform: translateY(-50%);
    position: absolute;
}
.slick-arr--left{
    border: none;
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 0;
    cursor: pointer;
    transform: translateY(-50%);
}
.product-slide__thumb-item{
    cursor: pointer;
}
.product-slide__big-item{
    cursor: pointer;
}

.product-one__information {
    margin-bottom: 150px;
}
.product-one__information-title {
}
.product-one__information-texts {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    margin-bottom: 80px;
}
.product-one__information-texts p{
    color:  #49423D;
font-size: 16px;
font-weight: 400;
line-height: 32px;
max-width: 590px;
width: 100%;
}
.product-one__information-texts span{
    font-weight: 600;
}
.product-one__information-item {
}
.product-one__information-item:nth-child(1) {
    margin-bottom: 80px;
}
.product-one__information-item-title {
    color:  #49423D;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 33px; 
}
.product-one__information-item-wrapper {
    display: flex;
    gap: 120px;
    justify-content: space-between;
}
.information-item-wrapper {
    display: flex;
    gap: 20px;
    padding-left: 60px;
}



.product-one__information-item-left, .product-one__information-item-right {
    max-width: 630px;
    width: 100%;
  
}
.product-one__information-item-inner{
    display: flex;
    gap: 23px;
    flex-direction: column;
    margin-bottom: 80px;
}
.product-one__information-item-inner div{
    display: flex;
    gap: 8px;
}
.product-one__information-item-list {
    display: flex !important;
    flex-direction: column;
    gap: 20px !important;
    max-width: 300px;
    width: 100%;
    padding: 0 20px;
}
/* .product-one__information-item-list div{
    display: flex;
    flex-direction: column;
    gap: 4px;
} */
.product-one__information-item-list div span{
    display: flex;
    padding-left: 40px;
    flex-direction: column;
    gap: 4px;
    color: #909090;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.product-one__information-item-row {
       display: flex;
    gap: 16px;
}
.product-one__information-item-row img{
    max-width: 100%;
    display: block;
    margin: auto 0;
}

.product-one__information-item-nore {
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.product-one__information-item-row--more{
    margin-bottom: 4px !important;
}


.complectation {
    margin-bottom: 150px;
}
.complectation__title-arr{
    transform: rotate(180deg);
}
.complectation__title {
    padding-right: 56px;
    position: relative;
    cursor: pointer;
   display: inline-flex;
    flex-wrap: nowrap;

}
.information-item-wrapper .slick-dots{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;
    justify-content: center;
}
/* .complectation__title::after {
    position: absolute;
    content: "";
    background-image: url('../images/icons/arrow-up.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 5px;
    right: -16px;
    transform: rotate(-180deg);
    width: 40px;
    height: 40px;
} */
.tabs__items-complectation{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
}
.complectation__content{
    display: none;
}

.complectation-block{
    max-width: 630px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 30px;
    padding: 60px 0;
}
.tabs__body-complectation{
    background-color:  #F5F5F6;
    /* margin-bottom: 150px; */
    margin-bottom: 100px;
}
.complectation-block__title{
    color:  #49423D;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px; 
}
.complectation-block__text{
    color: #49423D;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; 
}
.complectation-block__price{
    color:  #8DB338;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
}
.complectation__top{
    display: flex;
    gap: 39px;
}
.all-reviews__inner{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 60px 0px;
}
.reviews__inner .slick-dots{
    display: flex;
    grid-template: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}
.reviews__inner-more{
    display: none;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.service {
    margin-bottom: 150px;
    overflow-x: hidden;
}

.service__inner {
    display: flex;
    gap: 80px;
}
.service__image {
    max-width: 690px;
    width: 100%;
}
.service__content {
    max-width: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.service__content-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    position: relative;
}
.service__content-num {
    color:  #8DB338;
font-size: 70px;
font-weight: 700;
line-height: 78px;
}
.service__content-texts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.service__content-text {
    color: #49423D;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; 
}
.service__content-text span{
    font-weight: 600;
}
.service-arr--prev{
    top: 39px;
right: 70px !important;
position: absolute;
background-image: url(../images/icons/arrow-left.png);
}
.service-arr--next{
    top: 39px;
    right: 0;
    position: absolute;
}

.team {
    margin-bottom: 150px;
}
.team__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px 30px;
}
.team__item {
    display: flex;
    flex-direction: column;
}
.team__item-image {
}
.team__item-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.team__item-title {
    color:  #49423D;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.team__item-content p{
    color: #909090;
    font-size: 14px;
    font-weight: 400;
}
.team__item-mail {
    color:  #8DB338;
font-size: 16px;
font-weight: 700;
line-height: 24px; 
text-decoration-line: underline;
}

.blog-page {
    margin-bottom: 150px;
}
.blog-page__top {
    display: flex;
    gap: 30px;
    margin-bottom: 100px;
}
.blog-page__top-text {
    max-width: 630px;
    width: 100%;
    color: #49423D;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px; 
}
.blog-page__top-form {
    display: flex;
    gap: 30px;
    max-width: 630px;
    width: 100%;
    height: 50px;
}
.blog-page__top-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid  #F5F5F6;
    color:  #909090;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    max-width: 410px;
    width: 100%;
}
.blog-page__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 60px 30px;
}
.blog-page__item {
    display: flex;
    max-width: 410px;
    width: 100%;
    flex-direction: column;
    border: 2px solid  #F5F5F6;
}
.blog-page__image img{
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.blog-page__content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.blog-page__content-data {
    color:  #909090;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.blog-page__content-title {
    overflow: hidden;
color: #49423D;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 16px;
font-weight: 600;
line-height: 24px; 
}
.blog-page__content-text {
    overflow: hidden;
color:  #909090;
text-overflow: ellipsis;
white-space: nowrap;
font-size: 14px;
font-weight: 400;
line-height: 22px; 
}
.blog-page__content-more {
    color: #8DB338;
font-size: 14px;
font-weight: 400;
line-height: 22px;
position: relative;
padding-right: 20px;
}
.blog-page__content-more::after{
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/arr-text.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.galery {
    margin-bottom: 150px;
}
.galery__top {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.galery__top-text {
    padding-top: 67px;
    color: #49423D;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px; 
    max-width: 550px;
    width: 100%;
}
.galery__wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.galery__item {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.galery__item-content{
    display: flex;
    gap: 30px;
}
.galery__item-top {
    display: flex;
     justify-content: space-between;
}
.galery__item-title {
    color: #49423D;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; 
}
.galery__item-link {
    color: #8DB338;
font-size: 14px;
font-weight: 500;
line-height: 22px; 
margin: auto 0;
}

.pagination-more{
    max-width: 100%;
    display: none;
}
.blog-page__more{
    display: none;
}
.technology-page__image{
    max-width: 630px;
    width: 100%;
}
.technology-page__image img{
    max-width: 630px;
    width: 100%;
}

.cooperation {
    margin-bottom: 150px;
}
.cooperation__text {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    border-left: 4px solid #8DB338;
    margin-bottom: 100px;
    max-width: 830px;
    width: 100%;
    flex-direction: column;
}
.cooperation__text p{
    color: #49423D;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}
.cooperation__text p span{
    font-weight: 600;
}
.cooperation__persons {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 60px 30px; */
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.cooperation__person {
    max-width: 410px;
    width: 100%;
    background-color: #F5F5F6;
    cursor: pointer;
    min-height: 60px;
    height: 100%;
    color: #49423D;
}
.cooperation__person-wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
}
.cooperation__person-name {
    /* color: #49423D; */
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    white-space: nowrap;
}
/* .cooperation__person-arr {
    transition: all .3s;
} */
.cooperation__person-arr--active {
    transform: rotate(-180deg);
}
.cooperation__person-arr--active svg path{
    fill: #8DB338;  
}
.cooperation__person-content {
    padding: 20px;
    display: none;
    background-color: white;
}
.cooperation__person-content p{
    color:  #49423D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.cooperation__person--active{
    color: #8DB338;
}

.reverse-connect {
    margin-bottom: 100px;
}
.reverse-connect__inner {
    display: flex;
    justify-content: center;
    gap: 110px;
}
.reverse-connect__position {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    width: 100%;
    gap: 40px;
}
.reverse-connect__position-btn {
    max-width: 370px;
    width: 100%;
    background-color: #F5F5F6;
    color:  #49423D;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    line-height: 24px; 
}
.reverse-connect__position-btn--active{
    color: white;
    background-color: #8DB338;
}


.reverse-connect__form {
    max-width: 410px;
    width: 100%;
}
.reverse-connect__form .calculation__form {
    background-color: #F5F5F6;
}

.reverse-connect__form .calculation__form-input, .calculation__form-textarea {
    background-color: white;
}

.services__inner{
    display: flex;
    justify-content: space-between;
}

.documents__category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
}
.documents__category .top__content-filters-item{
    max-width: 360px;
}
.documents__category .documents__category-select{
    width: 750px;
}
.documents__category-select{
    display: flex;
    gap: 30px;
}
.documents__category-btn{
    height: 40px;
    width: 300px;
    margin-top: auto;
}
.documents__category .dropdown-btn{
    height: 40px;
}

.documents__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 60px 30px;
}
.documents__item {
}
.documents__item-content {
    padding: 20px 20px 54px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.documents__item-title {
    color:  #49423D;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.documents__item-text {
    color:  #909090;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; 
}
.documents__item-download {
    padding-left: 28px;
    color:  #8DB338;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    position: relative;
    display: inline-flex;
    width: 88px;
    justify-content: start;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.documents__item-download::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-image: url('../images/icons/download.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
}
.documents__wrapper{
    margin-bottom: 160px;
}
.documents__item a img{
    max-width: 410px;
    min-height: 410px;

width: 100% !important;
}

.advanced-search{
    margin-bottom: 150px;
}
.advanced-search__options, .advanced-search__selects{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.advanced-search .top__content-filters-item {
    max-width: 300px;
    margin-bottom: 30px;
}
.advanced-search .dropdown-arr {
    top: 25%;
}
.advanced-search__btn{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}






.product-list__aside-form-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-list__aside-title{
    color:  #474747;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
letter-spacing: 0.75px;
}
.product-list__aside-form-label {
    color: #49423D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
  display: flex;
  justify-content: center;
  align-items: center;
}







.check-box {
color: transparent;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0);
    opacity: 0;
}
.check-box:checked + span{
background-image: url('../images/icons/checkbox.png');
background-repeat: no-repeat;
background-position: center;
color: white;
border: 2px solid #8DB338;
}
.custom-check-box{
    display: inline-block;
    background-color: transparent;
    width: 24px;
    height: 24px; 
    vertical-align: sub;
    margin-right: 10px;
    cursor: pointer;
    padding: 2px;
    border: 1px solid #666666;
    border-radius: 2px
}


.advanced-search__checkbox{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 18px;
    margin-bottom: 80px;
    padding: 0 20px;
}
.advanced-search__checkbox-item{
    max-width: 154px;
    width: 100%;
    display: flex;
    justify-content: start;
}
